@import "bootstrap";

@media (min-width:768px) {
    .card-deck > .card
    {
        width: 29%;
        flex-wrap: wrap;
        flex: initial; 
    }
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}
